In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
# loading the dataset to a Pandas DataFrame
data = pd.read_csv("C:\\Users\\kumar\\OneDrive\\Desktop\\Internship\\Codsoft\\archive\\fraudTrain.csv")

In [5]:
# first 5 rows of the dataset
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [53]:
#last 5 rows of the dataset
data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

Importing the Dependencies

In [7]:
# dataset informations
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [8]:
# checking the number of missing values in each column
data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [9]:
# distribution of Normal transactions & fraudulent transactions
data['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [10]:
# separating the data for analysis
Normal = data[data.is_fraud == 0]
fraud = data[data.is_fraud == 1]

In [11]:
print(Normal.shape)
print(fraud.shape)

(1289169, 23)
(7506, 23)

In [12]:
# statistical measures of the data
Normal.amt.describe()

count    1.289169e+06
mean     6.766711e+01
std      1.540080e+02
min      1.000000e+00
25%      9.610000e+00
50%      4.728000e+01
75%      8.254000e+01
max      2.894890e+04
Name: amt, dtype: float64

In [13]:
fraud.amt.describe()

count    7506.000000
mean      531.320092
std       390.560070
min         1.060000
25%       245.662500
50%       396.505000
75%       900.875000
max      1376.040000
Name: amt, dtype: float64

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraud Transactions

Number of Fraudulent Transactions --> 7506

In [14]:
data['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [15]:
normal_data=Normal.sample(n=7506)

In [16]:
new_dataset=pd.concat([normal_data,fraud],axis=0)

In [17]:
new_dataset.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
661959,661959,2019-10-08 23:06:46,38295635583927,fraud_Yost-Rogahn,personal_care,12.68,Candice,Brown,F,9412 Harris Mews,...,33.3749,-99.8473,178,Warden/ranger,1983-06-14,26d9e1e8b5de1fbf136e05e15384b939,1349737606,34.030786,-100.153531,0
984173,984173,2020-02-04 09:39:55,4607072969078276,"fraud_Lind, Huel and McClure",gas_transport,29.58,Brenda,Perez,F,033 Tara Brook Suite 523,...,35.8985,-97.2607,1493,Amenity horticulturist,1985-03-21,49d2a1394eb540593be4b57bd35757b7,1359970795,36.330505,-96.736215,0
199927,199927,2019-04-13 07:36:41,583699482621,fraud_Powlowski-Weimann,food_dining,56.17,Jennifer,Jones,F,5572 Kelly Plains Apt. 952,...,44.3481,-89.1101,15426,"Engineer, civil (contracting)",1936-07-22,bcfaf9163c7c7bf49eaec1e46600cb2c,1334302601,44.845647,-89.906553,0
1017659,1017659,2020-02-24 04:17:41,376028110684021,"fraud_Baumbach, Strosin and Nicolas",shopping_pos,131.65,Aaron,Murray,M,624 Hale Springs Apt. 572,...,39.7795,-93.3014,964,Tourist information centre manager,1974-12-23,7c02d2a4b1f020e42ec85c6dd8a2e1b5,1361679461,40.018274,-93.324577,0
339192,339192,2019-06-09 15:30:35,3585740823295298,fraud_Schmeler Inc,misc_pos,2.61,James,Greene,M,082 Hernandez Bypass Apt. 886,...,34.2956,-99.7494,3202,"Librarian, public",1998-03-18,4470b9dff209013e4b8f138dc87a82c2,1339255835,35.000495,-99.837516,0

In [18]:
new_dataset['is_fraud'].value_counts()

is_fraud
0    7506
1    7506
Name: count, dtype: int64

In [19]:
columns_to_drop = ['dob', 'category', 'trans_date_trans_time', 'first', 'last', 'gender', 'street', 'job', 'trans_num', 'state', 'city']
data_dropped = new_dataset.drop(columns=columns_to_drop)

In [20]:
data_dropped.head()

,Unnamed: 0,cc_num,merchant,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
661959,661959,38295635583927,fraud_Yost-Rogahn,12.68,79539,33.3749,-99.8473,178,1349737606,34.030786,-100.153531,0
984173,984173,4607072969078276,"fraud_Lind, Huel and McClure",29.58,73027,35.8985,-97.2607,1493,1359970795,36.330505,-96.736215,0
199927,199927,583699482621,fraud_Powlowski-Weimann,56.17,54981,44.3481,-89.1101,15426,1334302601,44.845647,-89.906553,0
1017659,1017659,376028110684021,"fraud_Baumbach, Strosin and Nicolas",131.65,64659,39.7795,-93.3014,964,1361679461,40.018274,-93.324577,0
339192,339192,3585740823295298,fraud_Schmeler Inc,2.61,79252,34.2956,-99.7494,3202,1339255835,35.000495,-99.837516,0

Splitting the data into Features & Targets

In [21]:
X_train = data_dropped.drop(columns='is_fraud', axis=1)
Y_train = data_dropped['is_fraud']

In [22]:
X_train.head()

,Unnamed: 0,cc_num,merchant,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
661959,661959,38295635583927,fraud_Yost-Rogahn,12.68,79539,33.3749,-99.8473,178,1349737606,34.030786,-100.153531
984173,984173,4607072969078276,"fraud_Lind, Huel and McClure",29.58,73027,35.8985,-97.2607,1493,1359970795,36.330505,-96.736215
199927,199927,583699482621,fraud_Powlowski-Weimann,56.17,54981,44.3481,-89.1101,15426,1334302601,44.845647,-89.906553
1017659,1017659,376028110684021,"fraud_Baumbach, Strosin and Nicolas",131.65,64659,39.7795,-93.3014,964,1361679461,40.018274,-93.324577
339192,339192,3585740823295298,fraud_Schmeler Inc,2.61,79252,34.2956,-99.7494,3202,1339255835,35.000495,-99.837516

In [23]:
one_hot_encoded1 = pd.get_dummies(data_dropped, columns=['merchant'])

In [24]:
one_hot_encoded1.head()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,...,"merchant_fraud_Yost, Schamberger and Windler",merchant_fraud_Yost-Rogahn,merchant_fraud_Zboncak LLC,merchant_fraud_Zboncak Ltd,"merchant_fraud_Zboncak, Rowe and Murazik",merchant_fraud_Zemlak Group,"merchant_fraud_Zemlak, Tillman and Cremin",merchant_fraud_Ziemann-Waters,"merchant_fraud_Zieme, Bode and Dooley",merchant_fraud_Zulauf LLC
661959,661959,38295635583927,12.68,79539,33.3749,-99.8473,178,1349737606,34.030786,-100.153531,...,False,True,False,False,False,False,False,False,False,False
984173,984173,4607072969078276,29.58,73027,35.8985,-97.2607,1493,1359970795,36.330505,-96.736215,...,False,False,False,False,False,False,False,False,False,False
199927,199927,583699482621,56.17,54981,44.3481,-89.1101,15426,1334302601,44.845647,-89.906553,...,False,False,False,False,False,False,False,False,False,False
1017659,1017659,376028110684021,131.65,64659,39.7795,-93.3014,964,1361679461,40.018274,-93.324577,...,False,False,False,False,False,False,False,False,False,False
339192,339192,3585740823295298,2.61,79252,34.2956,-99.7494,3202,1339255835,35.000495,-99.837516,...,False,False,False,False,False,False,False,False,False,False

In [25]:
test_data=pd.read_csv("C:\\Users\\kumar\\OneDrive\\Desktop\\Internship\\Codsoft\\archive\\fraudTest.csv")

In [26]:
test_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [27]:
columns_to_drop = ['dob', 'category','trans_date_trans_time','category','first','last','gender','street','job','trans_num','state','city',]
test_data_dropped = test_data.drop(columns=columns_to_drop)

In [28]:
X_test = test_data.drop(columns='is_fraud',axis=1)
Y_test = test_data['is_fraud']

In [29]:
Y_test.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [79]:
test_data_dropped.head()

,Unnamed: 0,cc_num,merchant,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0,2291163933867244,fraud_Kirlin and Sons,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,1,3573030041201292,fraud_Sporer-Keebler,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,2,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,3,3591919803438423,fraud_Haley Group,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,4,3526826139003047,fraud_Johnston-Casper,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [30]:
one_hot_encoded2 = pd.get_dummies(test_data_dropped, columns=['merchant'])

In [37]:
one_hot_encoded2.head()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,...,"merchant_fraud_Yost, Schamberger and Windler",merchant_fraud_Yost-Rogahn,merchant_fraud_Zboncak LLC,merchant_fraud_Zboncak Ltd,"merchant_fraud_Zboncak, Rowe and Murazik",merchant_fraud_Zemlak Group,"merchant_fraud_Zemlak, Tillman and Cremin",merchant_fraud_Ziemann-Waters,"merchant_fraud_Zieme, Bode and Dooley",merchant_fraud_Zulauf LLC
0,0,2291163933867244,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,...,False,False,False,False,False,False,False,False,False,False
1,1,3573030041201292,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,...,False,False,False,False,False,False,False,False,False,False
2,2,3598215285024754,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,...,False,False,False,False,False,False,False,False,False,False
3,3,3591919803438423,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,...,False,False,False,False,False,False,False,False,False,False
4,4,3526826139003047,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,...,False,False,False,False,False,False,False,False,False,False

In [31]:
scaler = StandardScaler()

In [33]:
print( X_train.shape, X_test.shape)

(15012, 11) (555719, 22)

Model Training

Logistic Regression

In [34]:
model = LogisticRegression()

In [35]:
# training the Logistic Regression Model with Training Data
model.fit(one_hot_encoded1,Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [49]:
# accuracy on test data 
X_train_prediction = model.predict(one_hot_encoded2)

In [51]:
# Evaluating the model's performance
training_data_accuracy = accuracy_score(X_train_prediction, Y_test)

In [52]:
print('Accuracy on Testing data : ', training_data_accuracy)

Accuracy on Testing data :  0.9961401355721147